html {
	background-color: #0a0a0a;
	background-image: url("https://i.ibb.co/T0YHsfH/gur.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

a:link {
	text-decoration: none;
	color: inherit;
}

* {
	margin: 0;
	padding: 0;
}

body {
	color: #131313;
	text-transform: lowercase;
	font-size: 14px;
	font-family: 'Chivo Mono';
	
}